{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-md-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'webapp:category' %}">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:tag' %}">Tag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:product' %}">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:logout' %}">Logout</a>
          </li>
        </ul>
    </div>
    <div class="col-md-10 p-2">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>